<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create Your Puppy:</title>
  </head>
  <body>
    <form action="/" method="post">
    <input type="Name" name="name">
      <input type="Breed" name="breed">
      <input type="Age" name="age">
      <input type="submit" value="submit">
   </form>

  </body>

</html>
